.links {
    max-width: 256px;
    margin: auto;
}

.links-link {
    display: block;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid gray;
    text-decoration: none;
}